body{
    color: #ffffff;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#panel{
    background-color: #333333;
    position: fixed;
    overflow: hidden;
    width: 20%;
    height: 100%;
    float: left;
}

#author-id{
    width: 100%;
    padding-top: 100%;
    background-color: #555555;
}

#content{
    width: 80%;
    height: 100%;
    float: right;
}

.container{
    background-color: #1E1E1E;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #444444;
    -webkit-filter: brightness(0.75) grayscale(1);
    filter: brightness(0.75) grayscale(1);
}

.container:hover{
    -webkit-filter: brightness(1) grayscale(0);
    filter: brightness(1) grayscale(0);
}

/* left containers */ 
#content #content1,
#content #content3{
    float: left;
}

/* right containers */ 
#content #content2,
#content #content4{
    float: right;
}