body{
    background-color: #000000;
    color: #ffffff;
}

.box{
    background-color: #22252a;
    border-radius: 10px;
}

.box .container{
    padding: 5px 15px;
}

#content{
    width: 82%;
    float: right;
}

#panel{
    width: 16%;
    position: fixed;
    float: left;
    overflow: hidden;
}

#panel #author{
    display: inline-block;
    position: relative;
    top: -2%;
}

#panel #author #avatar{
    width: 100%;
}

#panel #author #avatar+#name{
    position: absolute;
    bottom: -10%;
    left: 5%;
    font-size: 150%;
}

#panel #about{
    display: inline-block;
    position: relative;
    top: -2%;
}

#panel #about p{
    margin: 10px auto;
}

#panel #about h3{
    margin: 10px auto;
}

.icons{
    margin-right: 20px !important;
}