body{
    background-color: #1E1E1E;
    color: #ffffff;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#panel{
    background-color: #333333;
    position: fixed;
    overflow-x: hidden;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
}

#panel *{
    width: 100%;
    direction: ltr;
}

#panel #author{
    display: inline-block;
    position: relative;
}

#panel #author #name{
    position: absolute;
    bottom: 0%;
    left: 5%;
    font-size: 150%;
}

#content{
    margin-left: 20%;
}