<div>
    
    <div>

        <div>
            
            <img src="https://avatars3.githubusercontent.com/u/33392539?s=460&v=4" style="width:100%" alt="Avatar">
            
            <div>
              <h2>Bernardo Gameiro</h2>
            </div>

        </div>

        <div>

            <p>Engeneering physics</p>

            <p>Lisbon, PT</p>

            <p>bernardo.gameiro@gmail.com</p>

            <hr>
  
            <p><b>Programming languages</b></p>

            <p>Python 3</p>
            <div>
              <div style="width:50%">50%</div>
            </div>

            <p>HTML/CSS/JS</p>
            <div>
              <div style="width:20%">20%</div>
            </div>
            
            <p>D Lang</p>
            <div>
                <div style="width:1%">1%</div>
            </div>

            <p>Haskell</p>
            <div>
                <div style="width:1%">1%</div>
            </div>

            <br>
  
            <p><b>Languages</b></p>

            <p>Portuguese</p>
            <div>
              <div style="height:24px;width:100%"></div>
            </div>
            
            <p>English</p>
            <div>
              <div style="height:24px;width:55%"></div>
            </div>
            
            <br>

        </div>
    
    </div>
    
    <br>
  
</div>